// Primary
$primary-dark: hsl(243, 87%, 12%);
$primary-light: hsl(238, 22%, 44%);

// Accent
$accent-blue: hsl(224, 93%, 58%);
$accent-cyan: hsl(170, 45%, 43%);


// Neautral
$neutral-greyBlue: hsl(240, 75%, 98%);
$neutral-grey: hsl(0, 0%, 75%);